<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/ShopCart/Index"><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<text id="total_count">@ViewBag.TotalCount</text>>)</a>
   </li>

</ul>
